.team {
  h2 {
    text-align: center;
    padding: 7rem 0 3rem;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5rem;

    //added
    padding: 0;
    //
    @media (max-width: 1080px) {
      margin-top: 0;
    }
    //added
    .accordion {
      width: 100%;
      border: none;

      .accordion-item {
        width: 100%;
        border: none;
        h2 {
          padding: 1rem 0;
        }
        .accordion-body {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
        }
      }
      .accordion-button {
        background-color: $color-primary;
        color: #fff;
        &::after {
          filter: invert(300%);
        }
      }
      .accordion-button:not(.collapsed) {
        background-color: $color-primary;
        color: #fff;
        &::after {
          filter: grayscale(100%) opacity(0.3);
        }
      }
      .accordion-button:focus {
        box-shadow: none;
        border-bottom: 2px solid $color-secondary-light;
      }
    }
    //
    .employee {
      background-color: $color-primary;
      color: #fff;
      width: 300px;
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      position: relative;
      z-index: 2;
      margin: 50px;
      padding-bottom: 2rem;
      padding-right: 2rem;
      @media (max-width: 1080px) {
        width: 230px;
        height: 230px;
        padding: 0;
      }
      &::before {
        content: "";
        width: 300px;
        height: 300px;
        position: absolute;
        background-color: $color-secondary;
        top: 15px;
        left: 15px;
        z-index: -10;
        @media (max-width: 1080px) {
          width: 230px;
          height: 230px;
        }
      }
      span {
        display: block;
        @media (max-width: 411px) {
          font-size: 16px;
          transform: translateX(1rem);
        }
      }

      .image {
        background-position: center;
        background-size: cover;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-25%, -25%);
        border: 5px solid $color-secondary;
        box-shadow: 5px 5px 5px $color-primary;

        @media (max-width: 1080px) {
          width: 150px;
          height: 150px;
          transform: translate(-65%, -25%);
          left: unset;
        }
      }
    }
  }
}
